/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.timer {
  display: flex;
  width: 346px;
  height: 72px;
  top: 108px;
  left: 156px;
  gap: 24px;
}
.set-data {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  padding: 0;
  left: 156px;
  gap: 8px;
}
button {
  width: 75px;
  height: 40px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;

  left: 156px;
  gap: 10px;
  background: rgba(207, 207, 207, 1);
  border: 1px solid rgba(128, 128, 128, 1);
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  width: 55px;
  height: 48px;

  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
}
.label {
  width: 44px;
  height: 24px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.section {
  width: 170px;
  height: 75px;
  display: flex;

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  gap: 12px;
  color: #1430ad;
}
.correct-date {
  background-color: blue;
  color: rgba(255, 255, 255, 1);
}
.button-style:hover {
  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.set-data:active {
  border: 1px solid rgba(78, 117, 255, 1);
}
.valid-date {
  border: 1px solid rgba(78, 117, 255, 1);
}
/* ==================snackbar====================== */

.form {
  display: flex;
  flex-direction: column;
  margin-left: 160px;
}
label {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
}
input {
  width: 360px;
  height: 40px;
  top: 36px;
  left: 156px;
  gap: 8px;
  opacity: 0px;
}
.chek-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  width: 360px;
  padding: 0;
}
.type-chek {
  width: 160px;
}
.button-style-2 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;

  width: 360px;
  height: 40px;
  top: 226px;
  left: 156px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;

  background: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.delay-one {
  text-align: left;
}
.button-style-2:hover {
  background: rgba(108, 140, 255, 1);
}
